<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Håvards blogg</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <!-- Header Bar -->
    <div id="header-bar">
        <nav>
            <div id="logo">
                <a href="{{ url_for('index') }}">Håvards blogg</a>
            </div>  
            
            <!-- Conditional Display for Login/Logout -->
            <div id="login-button-container">
                {% if 'username' in session %}
                    <span class="username-display">{{ session['username'] }}</span>
                    <a href="{{ url_for('logout') }}" class="btn">Logout</a>
                {% else %}
                    <a href="{{ url_for('login') }}" class="btn">Login</a>
                {% endif %}
            </div>
        </nav>
    </div>

    <h1 class="login-title">Login</h1>

    <div id="login-form-container">
        <!-- Flash Message https://stackoverflow.com/questions/44569040/change-color-of-flask-flash-messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!-- Login Form -->
        <form method="post" action="{{ url_for('login') }}">
            {% if not show_totp_field %}
                <!-- Username and Password fields -->
                <div class="form-group">
                    <input type="text" name="username" placeholder="Username" required class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Password" required class="form-control">
                </div>
            {% else %}
                <!-- TOTP Code Input -->
                <div class="form-group">
                    <input type="text" name="totp_code" placeholder="TOTP Code" required class="form-control">
                </div>
            {% endif %}
            <!-- Buttons: Login and Register -->
            <div class="form-group button-group">
                <input type="submit" value="Login" class="btn">
                <a href="{{ url_for('register') }}" class="btn">Register</a>
                <a href="{{ url_for('login_google') }}" class="google-btn">Log in with Google</a>
            </div>
        </form>
    </div>
</body>
</html>